@model HardDelivery.Models.Delivery

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourierId" class="control-label"></label>
                <select asp-for="CourierId" class="form-control" asp-items="ViewBag.CourierId"></select>
                <span asp-validation-for="CourierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <select asp-for="SenderId" class="form-control" asp-items="ViewBag.SenderId"></select>
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverId" class="control-label"></label>
                <select asp-for="ReceiverId" class="form-control" asp-items="ViewBag.ReceiverId"></select>
                <span asp-validation-for="ReceiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPrice" class="control-label"></label>
                <input asp-for="DeliveryPrice" class="form-control" />
                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
